body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 29px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  text-transform: uppercase;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.bg-secondary {
  background-color: #2c3e50 !important;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default {
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.navbar-default .navbar-collapse {
  border-color: #2c3e50;
}

/* JUMBOTRON */
.jumbo {
  height: calc(100%-70px);
  margin-top: 70px;
  font-weight: 400;
}

.masthead-avatar {
  width: 20rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 14rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fas.fa-star {
  font-size: 23px;
}

/* PORTFOLIO SECTION */
.thumbnail {
  border: none;
}

.thumbnail img {
  border-radius: 10px;
}

/* ABOUT SECTION */
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1em;
}

.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn:hover {
  background-color: #fff;
}

/* CONTACT ME SECTION */
.form-group .form-control {
  border: 0;
  border-bottom: 2px solid #e9ecef;
  box-shadow: none;
  padding-bottom: 20px;
  border-radius: 0;
  padding-right: 0;
  padding-left: 0;
  color: black;
}

.my-btn-send {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}

/* FOOTER */
.btn-social {
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.copyright {
  font-size: 10px;
}

/* UTILITY */
.mt-1 {
  margin-top: 2rem;
}
.mt-2 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 3rem;
}

.bg-green {
  background-color: #1ABC9C;
}

.text-white {
  color: #fff;
}

.text-green {
  color: #1ABC9C;
}

.bg-blue-2 {
  background-color: #3A546D;
}

/* MEDIA QUERY */
@media all and (min-width: 768px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 34px;
  }

  .navbar{
    padding: 20px 0;
  }

  .navbar-brand {
    font-size: 27px;
  }

  .jumbo {
    height: calc(100%-90px);
    margin-top: 90px;
  }
}
