body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 700;
  /* line-height: 44px;
  font-size: 44px; */
}

.text-white {
  color: #fff;
}

/* NAVBAR */
.navbar {
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
}

.bg-secondary {
  background-color: #2c3e50 !important;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default {
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.navbar-default .navbar-collapse {
  border-color: #2c3e50;
}

/* JUMBOTRON */
.jumbo {
  background-color: #1ABC9C;
  height: calc(100%-70px);
  margin-top: 70px;
  font-weight: 400;
}

.masthead-avatar {
  width: 20rem;
}

.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}

.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 2rem;
}
/* UTILITY */
.mt-1 {
  margin-top: 2rem;
}

.mb-1 {
  margin-bottom: 2rem;
}
